<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo API</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>TO-DO LIST</h1>
        <div class="svg_container">
          <svg id="plus_button" xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>Add Todo</title><path d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='fill:none;stroke:#ffffff;stroke-miterlimit:10;stroke-width:32px'/><line x1='256' y1='176' x2='256' y2='336' style='fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='336' y1='256' x2='176' y2='256' style='fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
        </div>
      </div>
      <div class="input_container">
        <input type="text" name="" id="input" placeholder="Add New Todo" spellcheck="false">
      </div>

      <ul class="list">

      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>